@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light !important;
  forced-color-adjust: none !important;
}

html {
   color-scheme: only light !important;
   forced-color-adjust: none;
  background: #efefef !important;
}

body {
  color-scheme: light !important;
  background: #efefef !important;
  /* color: gray !important; */
  font-family: Arial, Helvetica, sans-serif !important;
}

header * {
  color: #1f264d !important;
  -webkit-text-fill-color: #1f264d !important;
  filter: none !important;
  -webkit-filter: none !important;
  mix-blend-mode: normal !important;
}

@media (prefers-color-scheme: dark) {
  header * {
    color: #1f264d !important;
    -webkit-text-fill-color: #1f264d !important;
    filter: none !important;
    -webkit-filter: none !important;
    mix-blend-mode: normal !important;
  }
}
/* REMOVA completamente qualquer @media (prefers-color-scheme) */